@model User
@{
    ViewBag.Title = "Users - Create";
}
<h2>Create A New User</h2>
<form asp-action="Create">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <input type="submit" value="Create User"/>
</form>

<a asp-action="Index">Return to User Home</a>