@page
@model AmandaFE.Models.Post

@{
    ViewData["Title"] = "Find";
}

<h2>Find</h2>

<h4>Blog Post</h4>
<hr />
@*a text box to enable searching*@
<div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search">
</div>